@model Urun


<div class="jumbatron mt-3">
<h1 class="text-primary">Yeni Ürün Oluştur</h1>
<hr/>

<div class="row">
    <div class="col-4">

            <form asp-action="Create" autocomplete="off">
    <div class="form-group">
        <label for="Barkod">Barkod Numarası</label>
                    <input asp-for="Barkod" class="form-control" id="Barkod" aria-describedby="BarkodYardım">
        <small id="BarkodYardım" class="form-text text-muted">Benzersiz bir barkod numarası girilmelidir.</small>
    </div>
    <div class="form-group">
                    <label for="marka"> Ürünün Markası</label>
                    <input asp-for="Marka" class="form-control" id="marka">
    </div>

    <div class="form-group">
                    <label for="adi">Ürün</label>
                    <input asp-for="Ad" class="form-control" id="adi">
    </div>
    <div class="form-group col-md-4">
        <label for="inputState">Ürün Türü</label>
                    <select asp-for="Kategori" id="inputState" class="form-control">
            <option selected>Seçiniz...</option>
            <option>Elektronik</option>
            <option>Kozmetik</option>
            <option>Kitap</option>
            <option>Anne-Bebek</option>
            <option>Beyaz Eşya</option>
         </select>
       </div> 
    <div class="form-group">
        <label for="fiyat">Ürün Fiyatı</label>
                    <input asp-for="Fiyat" class="form-control" id="fiyat" placeholder="TL cinsinden">
    </div>
  
    <div class="form-group">
                    <label for="resim">Resim</label>
                    <input asp-for="Resim" class="form-control" id="resim" aria-describedby="resimYardım" placeholder="örnek.jpg">
        <small id="resimYardım" class="form-text text-muted"> Lütfen resimin yolunu girin.</small>
    </div>
    <button type="submit" class="btn btn-primary">Oluştur</button>
</form>
</div>
</div>
</div>